[Unit]
Description=Run Resilio Sync Watch Config
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/lib/node_modules/resilio-sync-watch-config/dist/index.js --basedir /home/rslsync/folders --keyfile /home/rslsync/share.txt
WorkingDirectory=/home/rslsync
User=rslsync
Group=rslsync

[Install]
RequiredBy=multi-user.target
