[Unit]
Description=Run Resilio Sync Watch Config
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=20
ExecStart=/usr/local/bin/resilio-sync-watch-config watch --cleanup
WorkingDirectory=/home/rslsync
User=rslsync
Group=rslsync

[Install]
WantedBy=multi-user.target
