[Unit]
Description=Run Resilio Sync Watch Config
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/absolute/path/to/index.js --basedir /home/rslsync/folders --keyfile path/to/keyfile.txt
WorkingDirectory=/absolute/path/to/
User=rslsync
Group=rslsync

[Install]
RequiredBy=multi-user.target
